.cex-listings {
    background-color: #ADD8E6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
  }
  
  .cex-listings h2 {
    color: #d76200;
  }
  
  .cex-listings p {
    font-size: 18px;
  }
  