.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding-bottom: 50px;
    overflow-x: hidden;
    background: url('../images/home.gif') no-repeat center center / cover;

}

.intro {
    font-size: 20px;
    color: #f4f4f4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    line-height: 1.6;
    margin: 20px 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 2;
}

.intro:hover {
    background-color: #ae6b01;
    transform: scale(1.01);
}

.intro .highlight {
    font-weight: bold;
    color: #4CAF50;
    font-style: italic;
}

.intro .phrase {
    color: gold;
    font-style: italic;
}


.logoCoin {
    position: absolute;
    top: 1px;
    left: 53%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.logoCoin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    z-index: 3;
    overflow-x: hidden;
}

.contract-address {
    margin-left: 10px;
    cursor: pointer;
    color: #d76200;
    text-decoration: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 3px;
    border-radius: 8px;
    border: 2px solid #d76200;
    background: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    font-size: 18px;
}

.contract-address:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    font-size: 20px;
}

.cta-button {
    background-color: #ae6d06;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #3a1a00;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cta-button:hover {
    background-color: #7dfceb;
    transform: scale(1.1);
}

.dexlogo {
    margin-top: 20px;
    width: 30px;
    height: auto;
    margin-right: 8px;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: slideIn 0.5s;
}

.guide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.guide-text {
    flex: 1;
    text-align: left;
    font-size: 18px;
    margin-right: 20px;
}

.guide-text h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.guide-text h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.guide-text ol {
    list-style-type: decimal;
    padding-left: 20px;
    color: #f4f4f4;
}

.guide-text ol li {
    margin-bottom: 15px; /* Adds space between list items */
}

.guide-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guide-images img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.social-icon:hover {
    transform: scale(2);
}

.dexlogo:hover {
    transform: scale(2);
}

.social-icon {
    margin-top: 20px;
    color: #ae6b01;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin-right: 8px;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}



@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        padding-bottom: 20px;
        width: 100%;
        overflow-x: hidden;
    }

    .border-left {
        position: relative;
        height: auto;
        width: 100%;
        background-color: #ae6b01;
        border-right: none;
    }

    .banner,
    .logoCoin,
    .content {
        left: 0;
        margin-left: 0;
        width: 100%;
        position: relative;
    }

    .banner img,
    .logoCoin img {
        width: 100%;
        max-width: 100%;
    }

    .logoCoin {
        width: 100px;
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .intro {
        font-size: 14px;
        padding: 0 10px;
        width: calc(100% - 60px);
    }


    .contract-address {
        display: block;
        width: calc(100% - 60px);
        box-sizing: border-box;
        font-size: 14px;
        padding: 8px 16px;
        margin: 10px auto;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contract-address,
    .cta-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .social-icon {
        font-size: 24px;
    }

    .notification {
        bottom: 10px;
        right: 10px;
        padding: 8px 16px;
    }
    .guide {
        flex-direction: column;
    }

    .guide-text {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .guide-images img {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {}

.guide.scrolled {
    transform: scale(1.1);
    background-color: #ae6b01; 
    padding: 15px;
    border-radius: 8px;
}