.how-to-buy {
  margin-top: 20px;
}

.accordion-root {
  width: 100%;
  max-width: 600px;
}

.step-trigger {
  all: unset;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  cursor: pointer;
  margin-bottom: 4px;
}

.step-content {
  padding: 8px 16px;
  border: 1px solid #e2e2e2;
  margin-bottom: 4px;
}

.icon {
  margin-right: 8px;
  color: #06d702;
}
