/* Parent container for centering the game */
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full height of the viewport */
    width: 100vw;
    /* Full width of the viewport */
    position: relative;
}

/* Modify .game-over-message to work within the container */
.game-over-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    z-index: 10;
    /* Ensure game-over message is above other elements */
    text-align: center;
    background-color: #ae6d06;
    /* Tomato */
    padding: 20px;
    border-radius: 8px;
}

.bird {
    /* border: 2px solid red; */
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 6;
    user-select: none;
}

.pipe,
.pipesv2,
.pipesv3 {
    /* border: 2px solid red; */
    position: absolute;
    z-index: 5;
    width: 150px;
    height: 600px;
}

.App {
    position: relative;
    width: 100%;
    max-width: 375px;
    /* Maximum width for mobile responsiveness */
    height: 667px;
    /* Standard mobile height (adjust as needed) */
    overflow: hidden;
    background: url('../resource/background.gif');
    background-color: #ADD8E6;
    /* Change to your desired game background */
    margin: 0 auto;
    /* Center the App within the container */
    border: 2px solid #ccc;
    /* Optional border for visual distinction */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional shadow for a more distinct game frame */
}

.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Adjust this value if you change the image height */
    z-index: 1;
    /* Ground is behind pipes and game-over message */
    overflow: hidden;
    /* Ensures no content goes outside of this box */
}

.ground-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire ground area */
}

.wallet-connect-container {
    top: 10px;
    left: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.wallet-connect-container:hover {
    opacity: 1;
}

.connect-wallet-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ae6d06;
    color: white;
}

.score-display {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.dev-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.dev-link {
    font-family: 'Monospace', sans-serif;
    color: #4CAF50; /* Green color for the text */
    margin-right: 15px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

.dev-link:hover {
    color: white;
}

.beta-badge {
    font-family: 'Monospace', sans-serif;
    color: #ff9900; /* Orange color for the text */
    font-size: 14px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}

