.flappy-bird-container {
  position: relative;
  height: 80vh;
  width: 60vw;
}

.background {
  height: 100%;
  width: 100%;
  background-color: skyblue;
  background-size: cover;
  position: relative;
}

.bird {
  height: 100px;
  width: 160px;
  position: absolute;
  top: 40vh;
  left: 30vw;
  z-index: 100;
  background-size: cover;
}

.pipe_sprite {
  position: absolute;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 6vw;
  background-color: green;
  background-size: cover;
  z-index: 90;
}

.message {
  position: absolute;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: black;
  top: 12vh;
  left: 20vw;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.score {
  position: absolute;
  z-index: 10;
  height: 10vh;
  font-size: 10vh;
  font-weight: 100;
  color: goldenrod;
  top: 0;
  left: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.score_val {
  color: gold;
}