.tokenomics {
    background-color: #ADD8E6;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
  }
  
  .tokenomics h2 {
    color: #d76200;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 15px;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px; /* Increased size for the chart container */
    height: 450px; /* Ensure height matches width for circular shape */
    margin: 0 auto;
    position: relative;
  }
  
  